.booklist_container {
    margin: 1.5rem 0;
}

.books_container {
    margin: 2rem 0;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    border: 1px solid #d7d7d7;
    margin: 0 0.5rem 1.5rem;
    max-width: 16rem;
    height: 100%;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    text-align: center;
}

.book_details_buttons {
    display: flex;
    justify-content: center;
}

.details_and_button {
    margin-top: 1rem;
    padding: 1rem;
}

.book_thumbnail {
    width: 100%;
}

.title {
    font-size: 1.25rem;
    font-weight: 500;
}

.add_to_cart {
    background-color: hsl(233, 26%, 24%);
    border-radius: 2rem;
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    padding: 0.3rem 1.25rem;
}

@media screen and (min-width: 768px) {
    .booklist_container {
        margin: 3rem clamp(3rem, 5vw, 6rem);
    }

    .book {
        justify-content: flex-end;
    }

    h2 {
        text-align: left;
    }
}
