.section_container {
    color: hsl(233, 26%, 24%);
    padding: 6rem 1.6rem 2rem;
}

.cart_container,
.user_list {
    margin-top: 1.5rem;
}

.cart_heading {
    color: hsl(233, 12%, 27%);
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 1rem;
}

.cart {
    display: flex;
    flex-wrap: wrap;
}

.cart_item_container {
    margin: 1rem 0;
}

.cart_item {
    border: 1px solid #d7d7d7;
    margin: 1rem;
    max-width: 20rem;
}

.cart_item > img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.cart_book_details {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.book_detail {
    margin-top: 0.25rem;
    font-size: 0.8rems;
}

.book_title {
    font-size: 1.25rem;
    font-weight: 500;
}

.cart_item_button {
    color: hsl(233, 64%, 35%);
    font-size: 1.15rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-top: 0.6rem;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 85%;
}

td,
th {
    border: 1px solid hsla(233, 26%, 24%, 0.274);
    text-align: left;
    padding: 8px;
}

tbody > tr:nth-child(even) {
    background-color: hsla(233, 26%, 24%, 0.246);
}

@media screen and (min-width: 768px) {
    .section_main_container {
        padding: 4rem 0 2rem;
    }

    .section_container {
        margin: 0 clamp(3rem, 5vw, 6rem);
    }
}

@media screen and (min-width: 1050px) {
    .section_main_container {
        padding: 4rem 0 3rem;
    }
}

@media screen and (max-width: 475px) {
    table {
        width: 100%;
    }
}
