.form_container {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem 0;
}

.form_and_lower {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;
    padding: 2rem;
    margin: 4rem 1.6rem;
    max-width: 40rem;
}

.form h1 {
    font-size: clamp(2rem, 3vw, 3.5rem);
}

.input_field {
    margin-top: 2rem;
}

.input_field_add_book {
    width: clamp(18rem, 50vw, 35rem);
}

.form input[type="text"],
.form input[type="date"] {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(233, 26%, 24%);
    border-radius: 1rem;
    color: rgb(74, 74, 74);
    display: inline-block;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
}

.radio_buttons {
    margin-top: 0.8rem;
}

.radio_input_label {
    margin-right: 1rem;
}

.form .sign_up_button {
    background: hsl(233, 26%, 24%);
    border-radius: 2rem;
    color: hsl(0, 0%, 100%);
    margin: 1.5rem 0;
    padding: 0.6rem 2rem;
}

.form_and_lower .log_in {
    color: hsl(136, 65%, 51%);
    font-size: 1.1rem;
    font-weight: 500;
}

.form_and_lower_login {
    max-width: 36rem;
}

@media screen and (max-width: 660px) {
    .add_new_books {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 325px) {
    .form_and_lower {
        padding: 2rem 1.25rem;
        margin: 4rem 0.5rem;
    }
}
